:root{
	--color-primary: #0083ff;
	--color-white: #e9e9e9;
	--color-black: #141d28;
	--color-black-1: #212b38;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: sans-serif;
}
.menu_bar{
	background-color: var(--color-black);
	height: 80px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 5%;
}
.menu_bar ul{
	list-style: none;
	display: flex;
	
}
.menu_bar ul li{
	padding: 20px 50px;
	
}
.menu_bar ul li a{
	color: var(--color-white);
	text-decoration: none;
	font-size: 20px;
	
	transition: all 0.3s; 
}

menu_bar ul li:hover {
	color: blue;
	
}
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}